<div class="background"></div>

<div class="contenedor">
    <div class="contenido">
        <div id="sideMenu" class="side-menu">
            <button id="closeButton" class="times-button"><i class="fas fa-times"></i></button>

            <div class="user-section">
                <div class="user-image-container">
                    <img class="user-image" src="../../../assets/jimi_hendrix.jpg" alt="">
                </div>
                <div class="user-name"><span>Jimi Hendrix <i class="fas fa-chevron-down"></i></span></div>
            </div>
        </div>
        <div class="main-content">
            <button id="hamButton" class="ham-button"><i class="fas fa-bars"></i></button>
        </div>
    </div>
</div>