<div class="contenedor-app">
    <h1 class="titulo">Bryan Brenes Rojas</h1>

    <div class="contenedor-proyectos row">
        <div class="col-sm-3 contenedor-proyecto-link">
            <span class="proyecto">Neumorphism UI Trend 2020 - dribbble.com</span>
            <div class="botones">
                <a class="btn-primario" routerLink="/neumorphism-dribbble">Ver</a>
                <a class="btn-primario" target="_blank"
                    href="https://dribbble.com/shots/9890709-Neumorphism-UI-Trend-2020">Ir
                    a dribbble</a>
            </div>
        </div>

        <div class=" col-sm-3 contenedor-proyecto-link">
            <span class="proyecto">Neumorphism UI Elements - dribbble.com</span>
            <div class="botones">
                <a class="btn-primario" routerLink="/neumorphism-ui-elements">Ver</a>
                <a class="btn-primario" target="_blank"
                    href="https://dribbble.com/shots/9527558-Freebie-Neumorphic-UX-UI-Elements">Ir
                    a dribbble</a>
            </div>
        </div>

        <div class=" col-sm-3 contenedor-proyecto-link">
            <span class="proyecto">Chat Dashboard - dribbble.com</span>
            <div class="botones">
                <a class="btn-primario" routerLink="/chat-dashboard">Ver</a>
                <a class="btn-primario" target="_blank"
                    href="https://dribbble.com/shots/4797890--Chat-Property-dashboard">Ir
                    a dribbble</a>
            </div>
        </div>

    </div>
</div>