<div class="contenedor-neomorphismo">
    <h1 class="centrar-texto">Neumorphic UI Elements</h1>
    <a routerLink="" class="btn-arrow btn-volver"><i class="fas fa-chevron-left"></i> Volver</a>
    <div class="contenedor">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-5">
                        <div class="box">
                            <p class="box-text">Aa</p>
                        </div>
                    </div>
                    <div class="col-7 columnas">
                        <button class="btn total-width">Button</button>
                        <input class="input-text" type="text" placeholder="Input">
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <button class="btn total-width">Share <i class="fas fa-share-alt"></i></button>
                    </div>
                    <div class="col-7 columnas">
                        <div class="select-input-container">
                            <span class="select-input-arrow"><i class="fas fa-sort-down"></i></span>

                            <select class="select-input">
                                <option value="">Dropdown</option>
                                <option value="">Opcion 2</option>
                                <option value="">Opcion 3</option>
                            </select>
                        </div>
                        <!-- <button class="btn">Drop</button> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <button class="btn total-width"><i class="fas fa-map-marker-alt"></i> Label</button>
                    </div>
                    <div class="col-7 columnas">
                        <button class="btn total-width"><i class="fas fa-user-plus"></i> Add user</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-search">
                            <span><i class="fas fa-search"></i></span>
                            <input class="input-search" type="text" placeholder="Search...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-12 flex-center-between">
                        <button class="btn-arrow"><i class="fas fa-chevron-left"></i></button>
                        <button class="btn-arrow"><i class="fas fa-chevron-right"></i></button>

                        <!-- <label for="chk" class="switch-barra">
                            <input type="checkbox" name="" id="chk">
                            <div class="switch-bola switch-bola-inactivo"></div>
                        </label> -->
                        <div class="switch">
                            <input type="checkbox" name="" id="chk">
                            <label for="chk" class="switch-barra">
                                <div class="switch-bola switch-bola-inactivo"></div>
                            </label>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" name="" id="chk2">
                            <label for="chk2">
                                <div class="checkbox-bola checkbox-bola-inactivo"></div>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="grafico-barras flex-center-between">
                            <div class="barra-vertical">
                                <div class="barra-vertical-progreso"></div>
                            </div>
                            <div class="barra-vertical">
                                <div class="barra-vertical-progreso"></div>
                            </div>
                            <div class="barra-vertical">
                                <div class="barra-vertical-progreso"></div>
                            </div>
                            <div class="barra-vertical">
                                <div class="barra-vertical-progreso"></div>
                            </div>
                            <div class="barra-vertical">
                                <div class="barra-vertical-progreso"></div>
                            </div>
                            <div class="barra-vertical">
                                <div class="barra-vertical-progreso"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="barra-progreso">
                <div class="barra">
                    <div class="indicador-progreso"><span>60%</span></div>
                </div>
            </div>
        </div>
    </div>

</div>